*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(img/wp4.jpg);
    background-size: 100%;
}
div.main{
    width: 480px;
    margin: 100px auto 0px auto;
}
textarea#describe{
    color: hotpink;
    text-align: center;
}
h3{
    text-align: center;
} 
input#song{
    width: 440px;
    color: hotpink;
    padding: 7px; 
}
input#submit{
    color: hotpink;
    width: 150px;
    cursor: pointer;
}